@import "../../../../styles/variables.scss";

.login {
  height: 100%;
}
.left {
  height: 100%;
  color: white;
  background-image: url(../../../../assets/images/bgLogin.png);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 3vw !important;
    letter-spacing: 2px;
  }
  p {
    font-size: 0.8vw;
    font-family: "Poppins", sans-serif;
  }
}

.right {
  h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: $title-color;
    text-align: center;
  }
  .login-form {
    width: 100%;
    ::ng-deep .p-input-icon-left,
    ::ng-deep .p-inputtext,
    ::ng-deep .p-button {
      width: 100%;
      font-size: 16px !important;
      font-family: "Poppins", sans-serif;
      color: black;
    }
    ::ng-deep .p-button {
      color: white;
      border-radius: 6px;
      font-weight: 400px !important;
    }
    //Input placeholder
    input::placeholder,
    ::ng-deep .p-password-input::placeholder {
      color: $placeholder-color;
      font-size: 14px;
      font-family: "Poppins", sans-serif !important;
    }
  }
  .forgotPass {
    color: $title-color;
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    text-decoration: none;
    font-weight: 400;
  }
  .forgotPass:hover {
    color: $main-color;
    text-decoration: underline;
  }
}
