@import "../../../styles/variables.scss";
.header {
    width: 100%;
    border-radius: 8px;
    background-color: transparent!important;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    ::ng-deep
      .mat-mdc-menu-trigger
      .mdc-button
      .mat-mdc-button
      .mat-unthemed
      .mat-mdc-menu-trigger,
    ::ng-deep .mdc-button__label {
      font-size: 16px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
    }
    // ::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    //   opacity: none;
    //   background-color: transparent;
    //   display: none;
    // }
    ::ng-deep .mat-button-focus-overlay,
    ::ng-deep .mdc-button:hover {
      background-color: transparent !important;
    }
    .exit {
      color: red !important;
    }
    .no-hover-effect img{
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
    }
    ::ng-deep .p-inputtext {
        width: 100%;
        max-height: none !important;
      }
      .notification{
        background-color:$notification-bg ;
        padding: 13px 15px;
        border-radius: 10px;
        i{
            color: $main-color;
            font-size: 18px;
        }
      }
      .hamburger-icon{
        border: none;
        i{
            font-size: 20px;
        }
      }
  }
  