@import "../../../../../styles/variables.scss";
.new-individual-person {
  overflow-y: auto !important;
  font-family: "Poppins", sans-serif !important;
  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: $title-color;
  }
  ::ng-deep .p-inputtext {
    width: 100%;
  }
  label {
    font-size: 13px!important;
    font-family: "Poppins", sans-serif;
    padding: 5px 0px;
  }
  ::ng-deep .p-element .p-inputwrapper,
  ::ng-deep .p-calendar,
  ::ng-deep .p-dropdown-label {
    width: 100% !important;
    font-size: 13px !important;
    font-family: "Poppins", sans-serif !important;
    ul {
      padding: 0px !important;
      margin: 0px !important;
    }
  }

  .add-btn {
    background-color: transparent !important;
    color: $main-color !important;
    border: 1px solid $main-color !important;
    border-radius: 8px !important;
    padding: 6px 10px;
    font-size: 12px;
  }
  .rmv-btn {
    background-color: transparent !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    padding: 6px 10px;
    font-size: 12px;
  }
  .address_info {
    border: 1px solid #e1eefc;
    border-radius: 8px;
    margin-left: 4px !important;
  }
  .send {
    button {
      background-color: $main-color !important;
      color: white !important;
      border: 1px solid $main-color !important;
      border-radius: 8px !important;
      padding: 6px 20px;
      font-size: 12px;
    }
  }
}
