.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

.content {
  display: flex;
  flex: 1; 
  gap: 10px;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: hidden; 
}

.chg-content {
  flex: 1; 
  overflow-y: auto; 
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px; 
}

.left-side1, .left-side2 {
  width: 100%;
  gap: 10px;
  padding: 0 10px;
  transition: margin-left 300ms;
}

.left-side1 {
  margin-left: 340px;
}

.left-side2 {
  margin-left: 100px;
}
