@import "../../../../styles/variables.scss";
.legal-individual-person {
  overflow-y: auto;
  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: $title-color;
  }
  ::ng-deep .p-button {
    border-radius: 8px;
    background-color: $table-header;
    border: none;
  }
  ::ng-deep .p-inputtext  {
    width: 99%;
  }
  ::ng-deep .mat-mdc-header-cell div p{
    text-align: center; 
  }
}
