@import "../../../../styles/variables.scss";
.main{
  overflow-y: auto;
  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: $title-color;
  }
  .square-box {
    border: 1px solid #efefef;
    padding: 17px 10px 17px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    max-height: 120px;
    p {
      color: #a0aec0;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      padding: 0px;
      margin: 0px;
    }
    h3 {
      color: $title-color;
      font-size: 20px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      padding: 0px;
      margin: 0px;
    }
    .icon {
      div {
        background-color: $main-color;
        padding: 10px 15px;
        border-radius: 8px;
        height: max-content;
        i {
          color: white;
        }
      }
    }
  }
  
  .charts {
    h3 {
      color: $title-color;
      font-size: 16px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
    }
  }
  .card{
      overflow-x: auto;
  }  
}
