@import "../../../../styles/variables.scss";
.new-individual-person {
  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: $title-color;
  }
  ::ng-deep .p-inputtext{
    width: 100%;
  }
  label{
    font-family: "Poppins", sans-serif;
    padding: 5px 0px;
   }
  ::ng-deep .p-element .p-inputwrapper{
    width: 100%!important;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    ul{
        padding: 0px!important;
        margin: 0px!important;
    }
  }

  .add-btn{
    background-color: transparent!important;
    color: $main-color!important;
    border: 1px solid $main-color!important;
    border-radius: 8px!important;
    padding: 6px 10px;
    font-size: 12px;
}
.rmv-btn{
    background-color: transparent!important;
    color: red!important;
    border: 1px solid red!important;
    border-radius: 8px!important;
    padding: 6px 10px;
    font-size: 12px;
}
}
