<div class="new-individual-person px-3">
  <h1 class="pt-3">Yeni Hüquqi(Fiziki) şəxs əlavəsi</h1>
  <div class="person-type">
    <!--Radio Button-->
    <div class="d-flex gap-3 pt-3">
      <div class="d-flex align-items-center justify-content-center">
        <p-radioButton
          name="person"
          value="individual-person"
          inputId="person1"
          [(ngModel)]="selectedPerson"
        ></p-radioButton>
        <label for="person1" class="ml-2 ps-2">Fiziki şəxs</label>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <p-radioButton
          name="person"
          value="legal-person"
          inputId="person2"
          [(ngModel)]="selectedPerson"
        ></p-radioButton>
        <label for="person2" class="ml-2 ps-2">Hüquqi şəxs</label>
      </div>
    </div>

    <!--Individual Forms-->
    <div
      *ngIf="selectedPerson === 'individual-person'"
      class="individual-person pt-4"
    >
      <form [formGroup]="individualPersonForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="pe-5">
              <!--Name-->
              <div class="pb-2">
                <label for="name" class="pb-1">Ad*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Surname-->
              <div class="pb-2">
                <label for="name" class="pb-1">Soyad*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Dad name-->
              <div class="pb-2">
                <label for="name" class="pb-1">Ata adı*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--FIN-->
              <div class="pb-2">
                <label for="FIN" class="pb-1">FIN*</label>
                <input type="text" pInputText />
              </div>

              <!--Voen-->
              <div class="pb-2">
                <label for="name" class="pb-1">Vöen*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!-- Number Type and Numbers -->
              <div formArrayName="inputs">
                <div
                  *ngFor="let input of inputs.controls; let i = index"
                  [formGroupName]="i"
                  class="pb-2"
                >
                  <!-- Number Type -->
                  <div class="pb-2">
                    <label for="name" class="pb-1">Nömrə növləri*</label>
                    <div class="flex justify-content-center">
                      <p-dropdown
                        [options]="numberType"
                        optionLabel="name"
                        formControlName="selectedType"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                  <!-- Numbers -->
                  <div class="pb-2">
                    <label for="">Nömrələr</label>
                    <div class="p-field">
                      <input type="text" pInputText formControlName="value" />
                      <div class="d-flex justify-content-end">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-minus"
                          class="rmv-btn my-2"
                          (click)="removeInput(i)"
                          *ngIf="inputs.length > 1"
                        >
                          - Sil
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Add Button -->
              <div class="d-flex justify-content-end">
                <button
                  pButton
                  class="add-btn my-2"
                  type="button"
                  icon="pi pi-plus"
                  (click)="addInput()"
                >
                  + Yeni nömrə
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ps-5">
              <!--Email-->
              <div class="pb-2">
                <label for="name" class="pb-1">Elektron-poçt</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Fealiyyete baslama tarixi-->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyyətə başlama tarixi</label>
                <div class="w-100">
                  <p-calendar
                    class="w-100 m-0"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay"
                  />
                </div>
              </div>

              <!-- Inception -->
              <div class="pb-2">
                <label for="name" class="pb-1">Əsas aparıcı müfəttişlik</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="inception" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!-- Activity type -->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyət növü</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="acType" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!-- Activity type 2 -->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyət tipi</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="acType2" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!--Note -->
              <div class="pb-2">
                <label for="name" class="pb-1">Qeyd</label>
                <div class="flex justify-content-center">
                  <textarea
                    class="w-100"
                    rows="3"
                    cols="30"
                    pInputTextarea
                  ></textarea>
                </div>
              </div>

              <!--Active-->
              <div class="pb-2 d-flex">
                <p-checkbox value="active" inputId="ny" />
                <div class="ps-2"><label for="name">Aktiv</label></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row px-0 mx-0">
          <!-- Address Blocks -->
          <div class="p-0 m-0">
            <p>Ünvanlar</p>
            <div formArrayName="addresses">
              <div
                *ngFor="let address of addresses.controls; let i = index"
                [formGroupName]="i"
                class="w-100 address_info my-3 row py-3"
              >
                <!-- Address Type -->
                <div class="col-lg-6">
                  <div class="pb-2">
                    <label for="name" class="pb-1">Ünvanın tipi</label>
                    <div class="flex justify-content-center">
                      <p-dropdown
                        [options]="addType"
                        optionLabel="name"
                        formControlName="addressType"
                      ></p-dropdown>
                    </div>
                  </div>

                  <!-- City -->
                  <div class="pb-2">
                    <label for="name" class="pb-1">Şəhər</label>
                    <div class="flex justify-content-center">
                      <p-dropdown
                        [options]="cities"
                        optionLabel="name"
                        formControlName="city"
                      ></p-dropdown>
                    </div>
                  </div>

                  <!-- Other Address Fields -->
                  <div class="pb-2">
                    <label for="name" class="pb-1">Küçə</label>
                    <input type="text" pInputText formControlName="street" />
                  </div>
                  <div class="pb-2">
                    <label for="name" class="pb-1">Kənd/qəsəbə</label>
                    <div class="flex justify-content-center">
                      <p-dropdown
                        [options]="addType"
                        optionLabel="name"
                        formControlName="village"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="pb-2">
                    <label for="name" class="pb-1">Ev(bina)</label>
                    <input type="text" pInputText formControlName="building" />
                  </div>
                  <div class="pb-2">
                    <label for="name" class="pb-1">Poçt indeksi</label>
                    <input
                      type="text"
                      pInputText
                      formControlName="postalCode"
                    />
                  </div>
                  <div class="pb-2">
                    <label for="name" class="pb-1">Mənzil</label>
                    <input type="text" pInputText formControlName="apartment" />
                  </div>
                </div>

                <!-- Remove Address Block Button -->
                <div class="d-flex justify-content-end">
                  <button
                    pButton
                    type="button"
                    icon="pi pi-minus"
                    class="rmv-btn my-2"
                    (click)="removeAddressBlock(i)"
                    *ngIf="addresses.length > 1"
                  >
                    - Sil
                  </button>
                </div>
              </div>
            </div>

            <!-- Add Address Block Button -->
            <div class="d-flex justify-content-end">
              <button
                pButton
                class="add-btn my-2"
                type="button"
                icon="pi pi-plus"
                (click)="addAddressBlock()"
              >
                + Yeni ünvan
              </button>
            </div>
          </div>
        </div>
        <!-- Send Button -->
        <div class="send d-flex justify-content-end w-100 p-0 m-0">
          <button pButton class="add-btn my-3" type="button">Göndər</button>
        </div>
      </form>
    </div>
    <!--Legal  Forms-->
    <div *ngIf="selectedPerson === 'legal-person'" class="pt-4">
      <form [formGroup]="legalPersonForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="pe-5">
              <!--Name-->
              <div class="pb-2">
                <label for="name" class="pb-1">Hüquqi şəxsin adı*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!-- Teskilati-forma -->
              <div class="pb-2">
                <label for="name" class="pb-1">Təşkilati hüquqi forması</label>
                <div class="flex justify-content-center">
                  <p-dropdown
                    [options]="cities"
                    optionLabel="name"
                    formControlName="city"
                  ></p-dropdown>
                </div>
              </div>

              <!--Voen-->
              <div class="pb-2">
                <label for="name" class="pb-1">Vöen*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Rehber ad-->
              <div class="pb-2">
                <label for="name" class="pb-1">Rəhbərin adı*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Rehber soyad-->
              <div class="pb-2">
                <label for="name" class="pb-1">Rəhbərin soyadı*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Rehber ata ad-->
              <div class="pb-2">
                <label for="name" class="pb-1">Rəhbərin ata adı*</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!-- Activity type -->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyət növü</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="acType" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!-- Activity type 2 -->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyət tipi</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="acType2" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!--Active-->
              <div class="pb-2 d-flex">
                <p-checkbox value="active" inputId="ny" />
                <div class="ps-2"><label for="name">Aktiv</label></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pe-5">
              <!-- Mulkiyyet novu -->
              <div class="pb-2">
                <label for="name" class="pb-1">Mülkiyyət növü</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="acType2" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!--Fealiyyete baslama tarixi-->
              <div class="pb-2">
                <label for="name" class="pb-1">Fəaliyyətə başlama tarixi</label>
                <div class="w-100">
                  <p-calendar
                    class="w-100 m-0"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay"
                  />
                </div>
              </div>

              <!-- Inception -->
              <div class="pb-2">
                <label for="name" class="pb-1">Əsas aparıcı müfəttişlik</label>
                <div class="flex justify-content-center">
                  <p-dropdown [options]="inception" optionLabel="name">
                  </p-dropdown>
                </div>
              </div>

              <!--Email-->
              <div class="pb-2">
                <label for="name" class="pb-1">Elektron-poçt</label>
                <div>
                  <input type="text" pInputText />
                </div>
              </div>

              <!--Note -->
              <div class="pb-2">
                <label for="name" class="pb-1">Qeyd</label>
                <div class="flex justify-content-center">
                  <textarea
                    class="w-100"
                    rows="3"
                    cols="30"
                    pInputTextarea
                  ></textarea>
                </div>
              </div>

              <!-- Number Type and Numbers -->
              <div formArrayName="inputsLeg">
                <div
                  *ngFor="let input of inputsLeg.controls; let i = index"
                  [formGroupName]="i"
                  class="pb-2"
                >
                  <!-- Number Type -->
                  <div class="pb-2">
                    <label for="name" class="pb-1">Nömrə növləri*</label>
                    <div class="flex justify-content-center">
                      <p-dropdown
                        [options]="numberType"
                        optionLabel="name"
                        formControlName="selectedType"
                      >
                      </p-dropdown>
                    </div>
                  </div>


                  <!-- Numbers -->
                  <div class="pb-2">
                    <label for="">Nömrələr</label>
                    <div class="p-field">
                      <input type="text" pInputText formControlName="value" />
                      <div class="d-flex justify-content-end">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-minus"
                          class="rmv-btn my-2"
                          (click)="removeInputLeg(i)"
                          *ngIf="inputsLeg.length > 1"
                        >
                          - Sil
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Add Button -->
              <div class="d-flex justify-content-end">
                <button
                  pButton
                  class="add-btn my-2"
                  type="button"
                  icon="pi pi-plus"
                  (click)="addInputLeg()"
                >
                  + Yeni nömrə
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
