@import "../../../styles/variables.scss";
.footer {
    background-color: transparent;
    z-index: 1;
      color: $footer-text;
      text-align: center;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      p {
        opacity: 0.7;
      }
    }